/*
* CMS Uno
* Copyright 2022, Jacques Malgrange
* www.boiteasite.fr
* http://www.opensource.org/licenses/mit-license.php
*/

/* *** RESET *** */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}
body{line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}

/* *** CLEARING *** */
.container:after{content:"\0020";display:block;height:0;clear:both;visibility:hidden;}
.clearfix:before,.clearfix:after,.row:before,.row:after{content:'\0020';display:block;overflow:hidden;visibility:hidden;width:0;height:0;}
.row:after,.clearfix:after{clear:both;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0;}

/* *** GENERAL CMSUNO *** */
body{margin:45px 0 0;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;line-height:18px;color:#333;background-color:#fff}
h1{font-size:30px;line-height:36px;}
h2{font-size:24px;line-height:36px;}
h3{font-size:18px;line-height:27px;margin-top:15px;}
h4{font-size:14px;line-height:18px;}
code{font-family:monospace;font-size:12px;padding:2px 4px;color:#333;background-color:#f7f7f9;border:1px solid #a9bcf5;border-radius:3px;}
.container{position:relative; width:960px; margin:0 auto; padding:0;}
.blocLogin{width:220px;margin:150px auto 0;}
.blocBouton, .blocForm{position:relative;padding:8px 20px;margin:8px 0;background:#eee;border-radius:2px;min-height:40px;}
.blocForm{border:1px solid #b6b6b6;background:#f8f8f8;}
.blocForm p{margin:10px;font-size:105%;}
.blocBouton h2{margin:10px 0 0 20px;}
.blocInput{padding:8px 0 0;}
.blocTop{position:fixed;top:0;left:0;z-index:99;margin-bottom:0;width:100%;max-height:40px;}
.blocTop .titre{display:block;float:left;padding:8px 20px 12px;margin-left:-20px;font-size:20px;font-weight:400;line-height:1;color:#999;}
.blocTop .titre em{font-size:12px;color:#999;}
.blocTop ul.topMenu{float:right;}
.blocTop ul.topMenu > li{display:block;position:relative;float:left;margin:10px 2px;padding:0;border:0;list-style:none;}
.blocTop a{color:#999;padding:10px;text-decoration:none;}
.blocTop a:hover{color:#fff;}
.blocTop ul.topMenu ul{display:none;margin-top:-1px;position:absolute;left:0;top:100%;background-color:#000;padding:12px 0 5px;}
.blocTop ul.topMenu > li:hover ul{display:block;}
.blocTop ul.topMenu ul li{display:block;height:auto;padding:3px 3px 3px 0;}
.blocTop .wait{float:right;margin:10px 2px;}
#hamburgerLabel,#hamburgerInput{display:none;}
.bgNoir{background-color:#000;}
.bgbleu{background-color:#00f;}
.bgMarine{background-color:#003;}
.bgGris{background-color:#888;}
#info{position:absolute;left:80px;width:50%;}
#alert{position:absolute;width:100%;color:green;font-weight:700;text-align:center; top:11px;left:0;}
.fl{float:left;}
.fr{float:right;}
.tal{text-align:left;}
.tar{text-align:right;}
.hForm{position:relative;width:100%;margin:15px 0 5px;}
.hForm th{border-bottom:1px solid #b6b6b6;}
.hForm td{padding-right:5px;}
.hForm td:nth-child(1){width:15%;text-align:right;}
.hForm td:nth-child(2){max-width:40%;padding:9px 0 0 10px;}
.hForm td:nth-child(2) input[type="text"]{width:300px;text-align:left;}
.hForm td:nth-child(2) span{padding-left:5px;}
.hForm td:nth-child(3){text-align:right;}
.hForm td:nth-child(3) em{font-size:90%;color:#666;padding-left:5px;}
.hForm td input[type="checkbox"].input{width:auto;border:none;}
.parking{display:inline-block;height:15px;width:1px;margin:0;padding:0;background-color:transparent;}
#blocArchive{float:left;margin:10px 0 0 5px;}
#lighter{min-height:22px;}
#updateDiv table{margin:10px 0 20px 20px;}
#updateDiv td{vertical-align:middle;text-align:left;padding-top:12px;padding-bottom:12px}
#updateDiv td:nth-child(1){text-transform:capitalize;min-width:150px;}
#updateDiv td:nth-child(2){padding-left:30px;}
#updateDiv table span{margin-top:-10px;margin-bottom:-10px;}
#nomPlug{float:left;}
#prePlugin div{float:right;margin:11px;}
#prePlugin div label{display:block;float:right;margin:-2px 0 0 10px;width:40px;}
.onoff{height:20px;width:16px;float:left;margin:10px 0 0 -5px;cursor:pointer;}
.onoff.all{background-position:0 -14px;}
.bouton{
	background: #eee; /* Old browsers */
	background: #eee linear-gradient(180deg, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	border:1px solid #aaa;border-top:1px solid #ccc;border-left:1px solid #ccc;
	border-radius:3px;
	color:#444;
	display:inline-block;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0 1px rgba(255, 255, 255, .75);
	cursor:pointer;
	line-height:normal;
	padding:8px 10px;
	margin:4px;
	font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	user-select:none;
	height:33px;
	box-sizing:border-box;}
.bouton:hover{
	color:#222;
	background: #ddd; /* Old browsers */
	background: #ddd linear-gradient(180deg, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	border:1px solid #888;border-top:1px solid #aaa;border-left:1px solid #aaa;}
.bouton:active{
	border:1px solid #666;
	background: #ccc; /* Old browsers */
	background: #ccc linear-gradient(180deg, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }
.bouton.current{color:#ddd;text-shadow:none;background-color:#0074cc;background-image:linear-gradient(180deg,#08c,#05c);background-repeat:repeat-x;border-color:#05c #05c #003580;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}
.bouton.current:hover{color:#fff;background-color:#05c;}
.bouton.off{cursor:default;}
.bouton.chapoff{font-style:italic;}
.bouton.danger{text-shadow:none;background-color:#faa732;background-image:linear-gradient(180deg,#fbb450,#f89406);background-repeat:repeat-x;border-color:#f89406 #f89406 #ad6704;border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);}
.bouton.finder,.bouton.managePlug{position:relative;margin-right:0;width:32px;}
.bouton.finder:after,.bouton.managePlug:after{content:"\00a0";}
.bouton.finder img,.bouton.managePlug img{position:absolute;top:6px;left:5px;}
#boutonPub{display:none;}
input.input{width:210px; background-color:#fff;border:1px solid #ccc;border-radius:3px;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);transition:border linear .2s,box-shadow linear .2s;display:inline-block;padding:4px;margin-bottom:9px;font-size:13px;line-height:18px;color:#555}
input.input:focus{border-color:rgba(82,168,236,0.8);outline:0;outline:thin dotted \9;box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);}
input[type="checkbox"]{display:inline-block;padding-top:5px;}  
.chapOpt input[type="checkbox"]{width:13px;height:13px;padding:0;margin:0 20px 0 5px;vertical-align:bottom;position:relative;}
label.label{float:left;margin:4px 6px 0 0;}
.plugList{margin-top:10px;}
.plugList tr:nth-child(2n+1){background-color:#ddd;}
.plugList td{vertical-align:middle;padding:5px;}
.plugList td:nth-child(2){font-weight:700;text-transform:capitalize;}
.plugAdd,.plugDel,.plugBest{width:16px;height:16px;}
.plugAdd{background-position:-32px -128px;cursor:pointer;}
.plugDel{background-position:-16px -192px;cursor:pointer;}
.plugBest{background-position:-208px -112px;}
/* *** ELFINDER *** */
#finderDiv{position:absolute;width:740px!important;height:600px!important;left:10px;top:10px;background:#e0dfde;overflow:hidden;
	border:1px solid #b6b6b6;box-shadow:0 0 3px rgba(0,0,0,.15);
	background:#cfd1cf;
	background-image:linear-gradient(180deg,#f5f5f5,#cfd1cf);
	padding:1px;z-index:-1;}
.elfinder-workzone{height:511px!important;}
.elfinder-workzone .elfinder-cwd-filename.ui-state-hover,#finderDiv .elfinder-cwd-filename.ui-state-hover{color:#000;background-color:#3875d7;}

/* *** MEDIA *** */
@media screen and (max-width:980px){
	.container{width:760px;}
	#contentP{width:760px!important;}
}
@media screen and (max-width:780px){
	.container{width:98%;}
	#contentP{width:100%!important;}
	#topMenu{display:none;z-index:10;width:200px;}
	#topMenu ul{margin-left:80px;margin-top:-2.5em;z-index:11;}
	#topMenu li{box-sizing:border-box;display:block;width:100%;}
	#info{left:120px;}
	#hamburgerLabel{display:inline-block;color:white;font-style:normal;font-size:1.2em;padding:10px;float:right;}
	#hamburgerLabel:hover{cursor:pointer;}
	#hamburgerInput:checked ~ #topMenu{display:block;background-color:#000;}
	#config .hForm tr,#plugin .hForm tr{display:block;margin-bottom:10px;}
	#config .hForm td:nth-child(3),#plugin .hForm td:nth-child(3){display:block;text-align:left;font-style:italic;width:100%;}
	#prePlugin div{margin:11px 2px;}
	#prePlugin div label{margin-left:1px;width:auto;}
	h1#nomPlug{font-size:22px;max-width:240px;overflow:hidden;}
	#onPlug{width:auto;}
	.hForm td:nth-child(2) input[type="text"]{width:auto;}
	#finderDiv{width:100%!important;box-sizing:border-box;box-shadow:none;left:0;top:50px;}
	.ui-dialog{max-width:100%!important;box-sizing:border-box;}
}
