.unoPop{position:fixed;top:40%;left:50%;margin:-5% 0 0 -150px;width:300px;padding:0 0 30px;opacity:1;text-align:center;font-size:1.1em;color:#000;background-color:#999;border:2px outset #777;z-index:99;}
.unoPopContent{width:260px;padding:20px;background-color:#ddd}
.unoPopContent img.logo{padding:10px;}
.unoPopClose{display:block;width:16px;height:16px;float:right;background-image:url('../img/close.png');background-color:none;}
.unoPopClose:hover{background-color:#e9ffe9;}
